@charset "utf-8";

/*---------------------常用及通用样式---------------------*/
html,body{
	font-family: PingFang SC,Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; 
}


.fl {
}
.fr {
}


/*---------------------页眉 开始---------------------*/
#index_header{

}

/* ---------------------页眉 结束--------------------- */

/* ---------------------导航栏 开始--------------------- */
#index_nav{
    user-select: none;  
}


/* 搜索 结束 */
/* ---------------------导航栏 结束--------------------- */

/* ---------------------页面主要区域 开始--------------------- */
#index_main {
}
/* ---------------------轮播图 开始--------------------- */
.banner {
	box-shadow: 0 0 5px white;
	overflow: hidden;
}

/* ---------------------轮播图 结束--------------------- */

/* ---------------------企业宣传和教育资讯 开始--------------------- */
.main_company_information{
    overflow: hidden;
}

/* ---------------------企业宣传 开始--------------------- */
.company{
    position: relative;
    overflow: hidden;
}

/* ---------------------企业宣传 结束--------------------- */

/* ---------------------教育资讯 开始--------------------- */
.information{
    overflow: hidden;
}

/* ---------------------教育资讯 结束--------------------- */

/* ---------------------精品图书 开始--------------------- */
#main_book{
    overflow: hidden;
}


/* ---------------------精品图书 结束--------------------- */

/* ---------------------页面主要区域 结束--------------------- */

/* ---------------------页脚部分 开始--------------------- */

#index_footer{
    overflow: hidden;
}

/* ---------------------页脚部分 结束--------------------- */