@charset "utf-8";

/*---------------------常用及通用样式---------------------*/
html,body{
	margin: 0px; /* 清除默认外边距 */
	padding: 0px; /* 清除默认内边距 */
	text-align: center;  /* text-align 属性规定元素中的文本的水平对齐方式。*/
	font-family: PingFang SC,Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;  /* font-family 规定元素的字体系列。*/
}
*{
	margin: 0px;   /* margin 简写属性在一个声明中设置所有外边距属性，可以有 1 到 4 个值 。4个值时表示上、右、下、左*/
	padding: 0px;  /* padding 简写属性在一个声明中设置所有内边距属性。*/
	list-style: none; /* 清除列表默认样式 */
	outline: none; /* 清除聚焦轮廓线 */
}
ul,div,header,nav{
	margin:0 auto; /* 块级元素水平居中 */
}
img{ 
	border:none;  /* border 简写属性在一个声明设置所有的边框属性。*/
	vertical-align: middle;  /* vertical-align 属性设置元素的垂直对齐方式。*/
	overflow: hidden; /* 隐藏溢出内容 */
}

a{text-decoration:none;} /* 清除链接下划线 */

.fl {
	float: left;  /* float 属性定义元素在哪个方向浮动 */
}
.fr {
	float: right; /* 元素向右浮动 */
}
.a_mouse{
    cursor: pointer;   /* cursor 属性规定要显示的光标的类型（形状）,pointer光标呈现为指示链接的指针（一只手） */
}


/*---------------------页眉 开始---------------------*/
#index_header{
    width: 100%; /* 宽度100%适应屏幕 */
    height: 40px; /* 固定高度 */
    background-color: #f2f2f2; /* 设置背景颜色 */
}
.header_inner{
    width: 1200px; /* 固定宽度 */
    height: 40px; /* 固定高度 */
    line-height: 40px;   /* line-height 属性设置行间的距离（行高）*/
    font-size: 15px; /* 设置字体大小 */
    user-select: none;    /* user-select 属性规定是否能选取元素的文本 */
	margin:0 auto;  /* 设置外边距，上下为0，左右根据浏览器计算，一般自适应相同值（即居中）*/
}
.header_inner a{
    color: #333; /* 链接字体颜色 */
    margin-left: 20px;    /* margin-right 属性设置元素的右外边距 */
}
.header_inner a:hover{   /* :hover 选择器用于选择鼠标指针浮动在上面的元素。*/
    color: #16CA82; /* 鼠标悬停时链接颜色 */
}
.inner_img{
    margin: -4px 10px 0px 0px; /* 设置图片外边距：上 右 下 左 */
}
/* ---------------------页眉 结束--------------------- */

/* ---------------------导航栏 开始--------------------- */
#index_nav{
    width: 1200px; /* 固定宽度 */
    height: 90px; /* 固定高度 */
	margin:0 auto; /* 水平居中 */
    user-select: none; /* 用户是否可以选择文本 */
}
.nav_logo{
    margin: 15px 30px 15px 0px; /* 设置logo外边距：上 右 下 左 */
}
.nav_ul li{
    color: #333; /* 字体颜色 */
    font-size: 20px; /* 字体大小 */
	font-weight: bold; /* 字体加粗 */
	line-height: 80px; /* 行高 */
    margin: 5px 35px; /* 外边距：上下 左右 */
    float: left; /*设置向左浮动*/
    user-select: none; /* 用户是否可以选择文本 */
    position: relative;  /* 相对定位 */
}
.nav_ul li.active:before{
    content: '';  /* content 属性与 :before 及 :after 伪元素配合使用，来插入生成内容。*/
    width: 2px; /* 伪元素宽度 */
    height: 30px; /* 伪元素高度 */
    background-color: #c1c1c1; /* 背景颜色 */
	border-radius: 50%;  /* 圆形边框 */
    position: absolute; /* 绝对定位 */
    left: -35px; /* 距离左侧位置 */
    top: 26px; /* 距离顶部位置 */
}
.nav_ul li:hover,.nav_ul li.actives{
    color: #16CA82;; /* 悬停和激活状态颜色 */
}
.nav_search{
    width: 350px; /* 搜索框宽度 */
    border: 2px solid #16CA82;  /* border 简写属性在一个声明设置所有的边框属性。3个属性值依次是宽度，样式（实线），颜色*/
    height: 32px; /* 搜索框高度 */
    line-height: 30px; /* 行高 */
    overflow: hidden;  /* overflow 属性规定当内容溢出元素框时发生的事情。hidden表示内容会被修剪，并且其余内容是不可见的。*/
    margin: 28px 0px; /* 外边距：上下 左右 */
    user-select: none; /* 禁止文本选择 */
}
.nav_search img{
    margin: -3px 10px 0px 0px; /* 图片外边距：上 右 下 左 */
}
.nav_search input{
    border: none; /* 无边框 */
    outline: none; /* 无轮廓线 */
    text-shadow: none; /* 无文字阴影 */
    -webkit-appearance: none; /* 清除webkit浏览器默认样式 */
    overflow: visible; /* 溢出内容可见 */
    width: 220px; /* 输入框宽度 */
}
.nav_search>div{
    background-color: #16CA82; /* 背景颜色 */
    color: #ffffff; /* 字体颜色 */
    font-size: 16px; /* 字体大小 */
    height: 32px; /* 高度 */
    width: 78px; /* 宽度 */
    padding-left: 2px; /* 左内边距 */
}
/* ---------------------导航栏 结束--------------------- */

/* ---------------------页面主要区域 开始--------------------- */
#index_main {
	width: 1200px; /* 固定宽度 */
	margin-left: auto; /* 左外边距自动 */
	margin-right: auto; /* 右外边距自动 */
	margin-bottom: 0px; /* 下外边距为0 */
}
/* ---------------------轮播图 开始--------------------- */
.banner {
	position: relative; /* 相对定位 */
	width: 1200px; /* 固定宽度 */
	height: 380px; /* 固定高度 */
	margin: 10px auto 0 auto; /* 外边距：上 右 下 左 */
	box-shadow: 0 0 5px white; /* 盒子阴影 */
	overflow: hidden; /* 溢出隐藏 */
}
.banner .banner_p{
	position: absolute; /* 绝对定位 */
	width: 6000px; /* 宽度（多张图片总宽度） */
	height: 380px; /* 高度 */
	z-index: 1; /* 层级 */
}
.banner .banner_p li{
	float: left; /* 向左浮动 */
	width: 1200px; /* 每张图片宽度 */
	height: 380px; /* 高度 */
}
.banner .banner_b {
	position: absolute; /* 绝对定位 */
	bottom: 20px; /* 距离底部距离 */
	width: 200px; /* 宽度 */
	height: 10px; /* 高度 */
	z-index: 2; /* 层级 */
	left: 500px; /* 距离左侧距离 */
}
.banner .banner_b li{
	margin-left: 5px; /* 左外边距 */
	display: inline-block; /* 行内块显示 */
	width: 20px; /* 宽度 */
	height: 20px; /* 高度 */
	border-radius: 50%; /* 圆形 */
	background-color: #6CA1A0; /* 背景颜色 */
	text-align: center; /* 文字居中 */
	color: white; /* 字体颜色 */
	cursor: pointer; /* 鼠标指针样式 */
}
.banner .banner_b li.on{
	background-color: #EEF5F7; /* 激活状态背景色 */
	color: #6CA1A0; /* 激活状态字体颜色 */
}
/* ---------------------轮播图 结束--------------------- */

/* ---------------------企业宣传和教育资讯 开始--------------------- */
.main_company_information{
    width: 1200px; /* 固定宽度 */
    height: 380px; /* 固定高度 */
    overflow: hidden; /* 溢出隐藏 */
    background-color: #F9F9F9; /* 背景颜色 */
    padding-bottom: 100px; /* 下内边距 */
}

/* ---------------------企业宣传 开始--------------------- */
.company{
    width: 700px; /* 固定宽度 */
    height: 400px; /* 固定高度 */
    position: relative; /* 相对定位 */
    overflow: hidden; /* 溢出隐藏 */
	margin-top: 40px; /* 上外边距 */
}
.company video{
    width: 700px; /* 视频宽度 */
    height: 400px; /* 视频高度 */
}
/* ---------------------企业宣传 结束--------------------- */

/* ---------------------教育资讯 开始--------------------- */
.information{
    width: 450px; /* 固定宽度 */
    height: 400px; /* 固定高度 */
    overflow: hidden; /* 溢出隐藏 */
	margin-top: 40px; /*设置元素的上外边距*/
}
.information_title{
    width: 450px; /* 固定宽度 */
    height: 46px; /* 固定高度 */
    line-height: 46px; /* 行高 */
    text-align: center; /* 文字居中 */
    background-color: #16CA82; /* 背景颜色 */
    position: relative; /* 相对定位 */
    overflow: hidden; /* 溢出隐藏 */
    font-size: 18px; /* 字体大小 */
    font-weight:bold; /* 字体加粗 */
    color: #fff; /* 字体颜色 */
}
.information_title>a{
    font-size: 16px; /* 字体大小 */
    color: #fff; /* 字体颜色 */
    position: absolute; /* 绝对定位 */
    right: 15px; /* 距离右侧距离 */
}
.information_show{
    width: 448px; /* 固定宽度 */
    height: 350px; /* 固定高度 */
    border: #e3e3e3; /* 边框颜色 */
}
.information_show li{
    list-style: none inside url(img/information_1.png); /* 自定义列表样式 */
    background: url("img/nav_4.png") 96% 50% no-repeat; /* 背景图片设置 */
	padding: 0px 20px 0px 15px; /* 内边距：上 右 下 左 */
	border: 1px solid #e3e3e3; /*设置边框样式*/
	border-top: none; /* 无上边框 */
    line-height: 43px; /* 行高 */
    color: #333; /* 字体颜色 */
    text-align: left; /* 文字左对齐 */
    font-size: 15px; /* 字体大小 */
	overflow: hidden;  /* 内容溢出不可见 */
	white-space: nowrap; /* 空白字符合并,文本不换行 */
	text-overflow: ellipsis; /* 溢出内容显示... */
}
.information_show li:hover{
    color: #16CA82; /* 悬停时字体颜色 */
}
/* ---------------------教育资讯 结束--------------------- */

/* ---------------------精品图书 开始--------------------- */
#main_book{
    height: 420px;  /*设置高度*/
    overflow: hidden; /*超出的直接截断*/
    background-position: center; /*背景居中*/
	background-color: "#f9f9f9"; /*设置背景色*/
	padding-bottom: 100px;  /* 设置元素的下内边距*/
}
/* 精品图书标题 开始 */
.book_title{
	/* 设置的是整体的标题样式 */
    width: 1200px; /*设置宽度*/
    height: auto; /*高度自动*/
    margin: 40px auto; /*外边距*/
    font-size: 30px; /*字体大小*/
    font-weight: bold; /*字体加粗*/
	text-align: center; /*文本对齐居中*/
}
.book_title>h3{
    /* 标题的h3标签样式*/
	color: #9BDBC6;  /*设置字体颜色*/
}
.book_title h3>i{
    /* 标题的h3标签中的i标签样式*/
	color: #CFE3DE; /*设置字体颜色*/
	font-style: italic; /*字体样式选择斜体*/
}
.book_title>h4{
	 /* 标题的h4标签中的样式*/
    width: 210px; /*设置宽度*/
    border-bottom: 1px solid #009C78;  /*设置下边框的宽度、样式和颜色*/
    position: relative;  /*规定元素的定位类型为相对定位*/
    padding: 20px;  /*设置上内边距为20 px*/
	margin: auto; /*外边距自动*/
    color: #009C78; /*字体颜色*/
}
.book_title>h4::before{
    content: ''; /*内容为空*/
    width: 40px; /*设置宽度*/
    height: 4px; /*设置高度*/
    border-radius: 2px; /*设置圆角*/
    background-color: #009C78; /*设置背景色*/
	position: absolute;  /*规定元素的定位类型为绝对定位，元素的位置通过 "left", "top", "right"， "bottom" 属性进行规定*/
    bottom: 0px; /* 距离底部距离 */
    left: 105px; /*设置左边距,靠北，文档的87px不居中*/
}
/* 精品图书标题 结束 */

/* 精品图书展示 开始 */
.book_show{
	/* 精品图书展示模块 */
    width: 300px; /*设置宽度*/
    height: 310px; /*设置高度*/
	float: left;/* 设置浮动方向 */
}
.book_show img{
	/* 图片样式 */
	margin-bottom: 20px; /*图片下外边距*/
}
.book_show strong{
	/* 价格 */
	font-weight: bold;  /* 字体加粗 */
	color: red; /*字体颜色*/
	margin-right: 20px; /*右外边距*/
}

/* 精品图书展示 结束 */
/* ---------------------精品图书 结束--------------------- */

/* ---------------------页面主要区域 开始--------------------- */

/* ---------------------页脚部分 开始--------------------- */
.base_box{
    width: 1200px; /* 固定宽度 */
    height: auto; /* 高度自适应 */
    overflow: hidden; /* 溢出隐藏 */
}
#index_footer{
    width: 100%; /* 宽度100% */
    height: auto; /* 高度自适应 */
    overflow: hidden; /* 溢出隐藏 */
    background-color: #333333; /* 背景颜色 */
    color: #EEE; /* 字体颜色 */
    text-align: left; /* 文字左对齐 */
	margin-top: 50px; /* 上外边距 */
}

.footer_1{
    font-size: 17px; /* 字体大小 */
    border-bottom: 1px solid #999999; /* 下边框 */
    line-height: 80px; /* 行高 */
    height: 80px; /* 固定高度 */
    width: 1200px; /* 固定宽度 */
    overflow: hidden; /* 溢出隐藏 */
}
.footer_1 a{
	font-size: 16px; /* 字体大小 */
    margin-left: 90px; /* 左外边距 */
    color: #EEE; /* 字体颜色 */
}
.footer_2{
    width: 1200px; /* 固定宽度 */
    height: 60px; /* 固定高度 */
    padding: 32px 0px; /* 内边距：上下 左右 */
}
.footer_2 img{
    width: 200px; /* 图片宽度 */
    height: 60px; /* 图片高度 */
    overflow: hidden; /* 溢出隐藏 */
}
.footer_2_1{
    width: 920px; /* 固定宽度 */
    height: 60px; /* 固定高度 */
    overflow: hidden; /* 溢出隐藏 */
}

.footer_2_1 a{
    color: #EEEEEE; /* 链接颜色 */
    font-size: 16px; /* 字体大小 */
    line-height: 18px; /* 行高 */
    padding: 0px 35px; /* 内边距：上下 左右 */
}

.footer_2_1 p{
    padding-left: 140px; /* 左内边距 */
    font-size: 15px; /* 字体大小 */
    color: #888888; /* 字体颜色 */
    line-height: 60px; /* 行高 */
}
/* ---------------------页脚部分 结束--------------------- */