<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"  />
  <link type="text/css" rel="stylesheet" th:href="@{/css/public.css}" />
</head>
<body>
<div th:replace="~{head :: html}"></div>
<div class="right">
  <div class="location">
    <strong>你现在所在的位置是:</strong>
    <span>修改密码页面</span>
  </div>
  <div class="providerAdd">
    <form name="userForm" id="userForm" method="post" action="/changepasswordsave">
      <div>
        <label for="userCode">用户账号：</label>
        <input type="text" th:value="${session.user.userCode}" readonly="readonly" name="userCode" id="userCode">
      </div>
      <div>
        <label for="password">原密码：</label>
        <input type="password" name="password" id="password" placeholder="请输入原始密码">
        <font color="red"></font>
      </div>
      <div>
        <label for="userPassword">新密码：</label>
        <input type="password" name="userPassword" id="userPassword" placeholder="请输入新密码">
        <font color="red"></font>
      </div>
      <div>
        <label for="changepassword1">确认密码</label>
        <input type="password" name="changepassword1" id="changepassword1" placeholder="请确认新密码">
        <font color="red"></font>
      </div>
      <div class="providerAddBtn">
        <input type="button" name="add" id="add" value="保存">
        <input type="button" id="back" name="back" value="返回" style="padding: 1px 10px">
      </div>
    </form>
  </div>
</div>
</section>

<div th:replace="~{foot :: html}"></div>
<script type="text/javascript" th:src="@{/js/password.js}"></script>
</body>
</html>
