<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>供应商管理</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"  />
    <link type="text/css" rel="stylesheet" th:href="@{/css/public.css}" />
</head>
<body>

<div th:replace="~{head :: html}"></div>
<div class="right">
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>供应商管理页面</span>
    </div>
    <div class="search">
        <form method="post" th:action="@{/providerlist}">
            <span>供应商名称：</span>
            <input name="proContact" class="input-text" type="text" th:value="${proContact}">
            <input type="hidden" name="pageNum" value="1"/>
            <input value="查 询" type="submit" id="searchbutton">
            <a href="/provideradd">添加供应商</a>
        </form>
    </div>
    <!--供应商列表表格-->
    <table class="providerTable" cellpadding="0" cellspacing="0">
        <tr class="firstTr">
            <th width="10%">供应商编码</th>
            <th width="20%">供应商名称</th>
            <th width="10%">供应商地址</th>
            <th width="20%">供应商信息</th>
            <th width="10%">手机号码</th>
            <th width="30%">操作</th>
        </tr>
        <tr th:each="provider:${pageInfo.list}">
            <td><span th:text="${provider.proCode}"/></td>
            <td><span th:text="${provider.proContact}"/></td>
            <td><span th:text="${provider.proAddress}"/></td>
            <td><span th:text="${provider.proName}" /></td>
            <td><span th:text="${provider.proPhone}" /></td>
            <td>
                <span><a class="viewProvider" href="javascript:;" th:providerid="${provider.id}" th:procontactname="${provider.proContact}"><img th:src="@{/images/read.png}" alt="查看" title="查看"/></a></span>
                <span><a class="modifyProvider" href="javascript:;" th:providerid="${provider.id}" th:procontactname="${provider.proContact}"><img th:src="@{/images/xiugai.png}" alt="修改" title="修改"/></a></span>
                <span><a class="deleteProvider" href="javascript:;" th:providerid="${provider.id}" th:procontactname="${provider.proContact}"><img th:src="@{/images/schu.png}" alt="删除" title="删除"/></a></span>
            </td>
        </tr>
    </table>
    <!-- 分页导航 -->
    <div class="page-bar">
        <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页 , 总 <span th:text="${pageInfo.pages}"></span> 页 , 共 <span id="totalPageCount" th:text="${pageInfo.total}"></span> 条记录</p>
        <a th:href="@{/providerlist}">首页</a>
        <a th:href="@{/providerlist(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
        <a th:href="@{/providerlist(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
        <a th:href="@{/providerlist(pageNum=${pageInfo.pages})}">尾页</a>
        <span class="page-go-form"><label>跳转至</label>
            <input type="text" name="inputPage" id="inputPage" class="page-key" />页
            <button type="button" class="page-btn" onClick='jump_to(document.forms[0],document.getElementById("inputPage").value)'>GO</button>
        </span>
    </div>
</div>
</section>

<!-- 删除确认弹窗 -->
<div class="zhezhao"></div>
<div class="remove" id="removeProv">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该供应商吗？</p>
            <a href="#" id="yes">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>

<div th:replace="~{foot :: html}"></div>
<script type="text/javascript" th:src="@{/js/providerlist.js}"></script>
<script type="text/javascript" th:src="@{/js/rollpage.js}"></script>
</body>
</html>
