<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body>
<h1 class="xx">用户注册</h1>
<!--method是指提交方式是get还是post，action是提交地址-->
<form method="post" action="register">
<!--    必须要写上name，因为这是post提交数据的字典键-->
<!--    {"user_name"：输入的用户名，'password'：输入的密码}-->
    <div>
        用户名：<input type="text" name="user_name">
    </div>
    <div>
        密码：<input type="password" name="password">
    </div>
    <div>
        性别：
        <input type="radio" name="gender" value="男">男
        <input type="radio" name="gender" value="女">女
    </div>
    <div>
        爱好：
        <input type="checkbox" name="hobby" value="篮球">篮球
        <input type="checkbox" name="hobby" value="足球">足球
        <input type="checkbox" name="hobby" value="乒乓球">乒乓球
        <input type="checkbox" name="hobby" value="棒球">棒球
    </div>
    <div>
        城市：
        <select name="city">
            <option value="北京">北京</option>
            <option value="上海">上海</option>
            <option value="深圳">深圳</option>
        </select>
    </div>
    <div>
        擅长领域：
        <select name="skill" multiple>
            <option value="吃饭">吃饭</option>
            <option value="睡觉">睡觉</option>
            <option value="打球">打球</option>
        </select>
    </div>
    <div>
        备注：<textarea name="more"></textarea>
    </div>
    <input type="submit" value="表单提交1">
</form>
</body>
</html>