<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <h1>用户列表</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>头像</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>更多信息</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="https://api.seaya.link/random?tyzpe=file" style="width: 50px"/>
                </td>
                <td>雁低飞</td>
                <td>休息</td>
                <td>
                    <a href="/get/news" target="_blank">点击查看详细 </a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="https://api.seaya.link/random?tyzpe=file" style="width: 50px"/>
                </td>
                <td>雁低飞</td>
                <td>休息</td>
                <td>
                    <a href="/get/news" target="_blank">点击查看详细 </a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="https://api.seaya.link/random?tyzpe=file" style="width: 50px"/>
                </td>
                <td>雁低飞</td>
                <td>休息</td>
                <td>
                    <a href="/get/news" target="_blank">点击查看详细 </a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
        </tbody>

        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="https://api.seaya.link/random?tyzpe=file" style="width: 50px"/>
                </td>
                <td>雁低飞</td>
                <td>休息</td>
                <td>
                    <a href="/get/news" target="_blank">点击查看详细 </a>
                </td>
                <td>
                    编辑
                    删除
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>