@charset "utf-8";

/* 精品课程 开始 */
#main_course{
    width: 
    height: 
    overflow: hidden;
    background: 
    padding-bottom: 
	margin-top: 
}
/* 精品课程标题 开始 */
.course_title{
    width: 
    height: 
    margin: 
    font-size: 
    font-weight: 
	text-align: 
}
.course_title>h3{
    color: 
}
.course_title h3>i{
    color: 
}
.course_title>h4{
    width:
    border-bottom:
    position: 
    padding:
	margin: 
    color:
}
.course_title>h4::before{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: #009C78;
    bottom: 0px;
    left: 87px;
}

/* 精品课程标题 结束 */

/* 精品课程表 开始 */
table{
	width:
	border-collapse:
	margin:
}
th{
	font-family:
	font-size: 
	color:
	border: 
}
td{
	font-size: 
	color:
	height: 
	border:
}
td strong{
	color:
	margin-right: 
}
td del{
	color:
	font-size: 
}
/* 精品课程表 结束 */

/* 精品课程 结束 */