* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #cb60b3;
    color: #000;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    height: 40px;
}

.header>.container {
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: small;
    background-color: #cb60b3;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header>.container>ul>li>a {
    color: #ffffff;
    text-decoration: none;
}

.header>.container>ul>li>a:hover {
    color: #000;
}

.header>.container>ul>.line {
    color: #ffffff;
}

.header-top {
    height: 150px;
    padding: 10px 20px;
}

.header-top-in {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

.logo,
.left-head {
    display: flex;
    align-items: center;
}

.logo img,
.left-head img {
    display: block;
    max-height: 100%;
}

.top-header-in {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.shop {
    display: flex;
    align-items: center;
}

.shop-info {
    height: 100%;
    padding-top: 5%;
}

.shop div a:nth-child(1) {
    color: #631261;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    text-decoration: none;
}

.shop div p:nth-child(2) {
    font-size: 14px;
    margin: 4px 0;
}

.shop div a:nth-child(3) {
    color: #c75dc4;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
}

.top-nav {
    background-color: #4d4a4a;
    height: 65px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5), 0 -5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.top-nav ul {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    list-style: none;
    justify-content: center;
    height: 100%;
}

.top-nav a {
    display: block;
    padding: 0 16px;
    height: 48px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}

.top-nav a.active,
.top-nav a:hover {
    background-color: #a336a2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 20px 17px;
    margin-top: 20px;
    flex: 1;
}

.content-left {
    width: 32%;
}

.content-left a {
    color: #fff;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 450 / 140;
    background-image: url("../resources/content-left/se.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 13px;
    padding-top: 7px;
    margin-bottom: 30px;
}

.search-components {
    height: 100%;
    width: 100%;
    color: #fff;
    padding-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

input[name="shop_search"] {
    height: 30%;
    width: 100%;
}

.content-top,
.content-middle,
.content-middle-in,
.content-bottom {
    background-color: #fff;
    border-radius: 10px;
    border: 1.6px solid #4a4a4a;
    overflow: hidden;
    margin-bottom: 30px;
}

.ct-main {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 160px;
}

.ct-img {
    width: 45%;
}

.ct-img img {
    width: 100%;
    display: block;
}

.ct-text {
    flex: 1;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ct-title {
    padding-right: 50px;
    color: #a336a2;
    font-size: 15px;
    font-weight: bold;
}

.ct-old-price {
    font-size: 13px;
    font-weight: bold;
}

.ct-new-price {
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
}

.ct-text>a {
    color: #c040b0;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding-right: 29px;
}

.content-middle>img,
.content-middle-in>img,
.content-bottom>img {
    width: 100%;
    height: 163px;
    display: block;
    object-fit: cover;
    object-position: 50% 20%;
}

.ct-bar {
    background: #4d4a4a;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 14px;
}

.content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 16px;
}

.banner img {
    width: 100%;
    display: block;
}

.content-right-in {
    margin: 30px 10px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.section-title .highlight {
    color: #d653d5;
}

.product-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 35px;
}

.product-item {
    text-align: center;
}

.p-img-box {
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    margin-bottom: 10px;
}

.p-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.p-price {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.p-price b {
    font-size: 13px;
    font-weight: bold;
}

.p-action {
    font-size: 16px;
    color: #ccc;
}

.p-action a {
    color: #d653d5;
    text-decoration: none;
}

.p-action a:hover {
    text-decoration: underline;
}

.p-action span {
    margin: 0 8px;
    color: #000;
    font-weight: bold;
}

.content-right-bottom a {
    color: #000;
    text-decoration: none;
}

.content-right-bottom a:hover {
    color: #cb60b3;
}

.content-right-bottom>h3 {
    margin-bottom: 10px;
}

.footer {
    background-color: #cf3da3;
    text-align: center;
    padding-top: 40px;
}

.footer>a {
    color: #fff;
    text-decoration: none;
    font-size: smaller;
}