.author{
	font-size: 20px;
	font-weight: bold;
}
p{
	text-indent: 2em;
	font-family: "宋体";
	font-size: 20px;
}
#title, .author{
	text-align: center;
	font-family: "楷体";
}
.p1 strong{
	font-size: 30px;
}
.p2>strong{
	font-size: 30px;
}
h2+p{
	text-decoration: underline;
}
p.p1{
	text-decoration: overline;
}
hr~p{
	text-decoration: underline;
}