img{
	width: 300px;
}
/* div{
	height: 100%;
} */
.img1{
	border: 2px solid blue; /*2像素蓝色实线*/
	opacity: 0.9; /*透明度0-1，0是透明*/
}
.img2{
	border-width: 8px 6px; /*设置边框大小*/
	border-style: double; /*边框双线*/
	border-color: #ccc; /*灰色*/
}
.img3{
	box-shadow: 15px 15px 5px 3px #550000; /*阴影*/
	border-radius: 50px/100px; /*圆角*/
}
body{
	background-color: beige;
	background-image: url(./resource/日奈1.png);
	background-repeat: no-repeat;
	background-position: bottom center; /*底部且居中*/
	background-attachment: fixed;
	
	/* border: 1px black solid; */
	/* 也就是说这个border是不用管参数位置的，只要有相对应的参数就行了 */
	border: aqua 1px double;
}