/* 基础重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
    height: 2000px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 顶部导航 */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    /*有一条边框*/
    border-bottom: 5px solid #ff1e32;
    /*边框隔离*/
    margin-bottom: 1px;
    /*设置固定定位*/
    position: fixed;
    /* 确保滚动时遮挡后方内容 */
    background-color: white;
    /* 确保固定在最顶部 */
    top: 0;
    /* 设置一个足够大的层级 */
    z-index: 1000;
}

.nav-content {
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 左右对齐，撑开中间空白 */
    justify-content: space-between;
    width: 100%;
    /* 依靠内边距上下撑开高度 */
    padding: 15px 0;
}

.logo img {
    height: 50px;
    display: block;
}

.nav-links {
    margin-left: 30px;
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s;
}

/* Banner 区域 */
.banner {
    height: 450px;
    background: linear-gradient(135deg, #ff4e6a 0%, #ff1e32 100%);
    overflow: hidden;
    position: relative;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}