/* 动态伪类选择器 */
a:link{
	color:blue;
}
a:visited{
	color: aqua;
}
a:hover{
	background-color: blueviolet;
}

/* 结构伪类选择器 */
p:nth-child(1){
	font-size: 10px;
}
p:nth-child(2){
	font-size: 20px;
}
p:nth-child(3){
	font-size: 30px;
}
p:nth-child(4){
	font-size: 40px;
}
p:nth-child(5){
	font-size: 50px;
}
p:nth-child(6){
	font-size: 60px;
}
/* 状态伪类选择器 */
input[type="text"]:enabled{
	background: lawngreen;
}
input[type="text"]:disabled{
	background: yellow;
}
