@charset "utf-8";

/*登录 开始*/
.login_bg {
	width: 
	height: 
	background: 
	overflow: hidden;
}

.login_box {
	width: 
	margin: 
	height: 
	overflow: hidden;
}

.login_b1 {
	padding-top: 
	width: 
	height: 
	overflow: hidden;
	color:
}

.login_b1 img {
	padding-bottom: 
}

.login_b1>h2 {
	font-size:
}

.login_b1>h3{
	font-size: 
	margin: 
}

.login_content {
	padding: 
	width: 
	height: 
	background: 
	border-radius: 
	overflow: hidden;
}

.login_content>h4 {
	font-size: 26px;
}

.login_content>p {
	font-size: 19px;
	margin-top: 15px;
}

/* 登录注册模块 */
.login_b2 {
	padding: 
	width: 
	height: 
	background-color: 
	overflow: hidden;
}
/* 登录注册模块列表 */
.login_b2_ul {
	width: 
	padding-top: 
	font-size: 
	text-align: 
	color: 
}

.login_b2_ul>li {
	width: 
	float: 
	line-height:
	border-bottom:  
	cursor: pointer;
}

.login_b2_ul>li:hover,.login_b2_ul>li.active {
	color: 
	font-weight: 
	border-bottom: 
}
/* 登录注册模块表单控件 */
.login_b2 input {
	width: 
	height: 
	line-height: 
	color: 
	font-size: 
	border: 
	border-bottom: 
	margin-top: 
}
.login_b2 input:focus{
	border-bottom: 
}
.login_b2_span {
	color: 
	font-size: 
	margin-top: 
}

.login_btn {
	width: 
	height: 
	border: 
	border-radius:
	color: 
	font-size: 
	font-weight: 
	background-color: 
	cursor: pointer;
	margin-top: 
}
/*登录 结束*/
